<div>
  <div style="border-left: 2px solid #00CED1;"><span class="ml-1">Playing Time</span></div>
  <div class="playing-time m-1">
    <span class="position">00:00</span>
    <span>/</span>
    <span class="duration">00:00</span>
  </div>
</div>

<div>
  <div style="border-left: 2px solid #00CED1;"><span class="ml-1">BPM</span></div>
  <div class="bpm m-1">-</div>
</div>

<div>
  <div style="border-left: 2px solid #00CED1;"><span class="ml-1">Chord</span></div>
  <div class="chord m-1">-</div>
</div>

<div>
  <div style="border-left: 2px solid #00CED1;"><span class="ml-1">ChordProgression</span></div>
  <div class="chord-progression m-1">
    <span class="current-chord">-</span>
    <span>→</span>
    <span class="next-chord">-</span>
  </div>
</div>
<div>
  <div style="border-left: 2px solid #00CED1;"><span class="ml-1">ChordEffect:</span>
    <span class="chord-effect">-</span>
  </div>
</div>
