<nav class="js-navbar-scroll navbar fixed-top navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <%= link_to 'Vocalyzer', root_path, class: 'navbar-brand text-white' %>

    <div class="collapse navbar-collapse offset-lg-8" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to t('defaults.twitter_login'), '/auth/twitter', class: 'nav-link text-white mr-2', method: :post %>
        </li>
        <li class="nav-item">
          <%= link_to t('defaults.guest_login'), guest_login_path, class: 'nav-link text-white', method: :post %>
        </li>
      </ul>
    </div>
  </div>
  <a class="btn btn-primary" data-toggle="modal" href="#callUsModal" href="#!">
    <div class="text-nowrap">
      <i class="fas fa-phone-square mr-1"></i><%= t('defaults.contact') %>
    </div>
  </a>
</nav>
