<div>
  <div>Playing Time</div>
  <div class="playing-time m-1">
    <span class="position">00:00</span>
    <span>/</span>
    <span class="duration">00:00</span>
  </div>
</div>
<div>
  <div>BPM</div>
  <div class="bpm m-1">-</div>
</div>
<div>
  <div>Chord</div>
  <div class="chord m-1">-</div>
</div>
<div>
  <div>ChordProgression</div>
  <div class="chord-progression m-1">
    <span class="current-chord">-</span>
    <span>→</span>
    <span class="next-chord">-</span>
    <div class="m-1">ChordEffect:
      <span class="chord-effect">-</span>
    </div>
  </div>
</div>
