<div id="analyzer-1">
  <div class="sw-extra-stats-1 col-6 d-inline-block">
    <%= render 'shared/song_stats' %>
    <%= javascript_include_tag "sw-extra-stats-1.js" %>
  </div>
  <div class="col-6 float-right" data-api="songle-widget-extra-module-1" data-url="<%= song.url %>" id="songle-widget">
  </div>
  <script src="https://widget.songle.jp/v1/widgets.js"></script>
</div>
