<div class="container">
  <div class="row justify-content-center m-3">
<h1>Editing Project</h1>
</div>

<%= render 'form', project: @project %>

  <div class="row justify-content-center m-3">
<%= link_to 'Show', users_project_path(@project) %> | 
<% if current_user.twitter? %>
  <%= link_to 'Back', users_projects_path %>
<% end %>
</div>
