<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row justify-content-center m-3">
    <h2><%= t('.title') %></h2>
  </div>

  <%= render 'form', project: @project %>

  <div class="row justify-content-center m-3">
      <%= link_to t('defaults.back'), request.referer, class: 'btn btn-links' %>
  </div>
</div>
