<div class="container">
  <div class="row justify-content-center m-3">
    <h1>New Project</h1>
  </div>

  <%= render 'form', project: @project %>

  <div class="row justify-content-center m-3">
    <%= link_to 'Back', users_projects_path %>
  </div>
</div>
