<div class="container">
  <div class="row justify-content-center m-3">
    <h2><%= t('.name') %></h2>
  </div>

  <%= render 'form', project: @project %>

  <div class="row justify-content-center m-3">
    <% unless current_user.guest? %>
      <%= link_to t('defaults.back'), request.referer, class: 'btn btn-links' %>
    <% end %>
  </div>
</div>
